#bigDadContainer {
    width: 60%;
    margin: 0 auto;
}

.top {
    text-align: center;
}

#loadingGif {
    width:20px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}